<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>abundância</string>
		<key>shortcut</key>
		<string>abundancia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ação</string>
		<key>shortcut</key>
		<string>acao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>acessíveis</string>
		<key>shortcut</key>
		<string>acessiveis</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>aquisição</string>
		<key>shortcut</key>
		<string>acquisicao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>aquisição</string>
		<key>shortcut</key>
		<string>acquisição</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>faz</string>
		<key>shortcut</key>
		<string>afz</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ágil</string>
		<key>shortcut</key>
		<string>agil</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>agradeço</string>
		<key>shortcut</key>
		<string>agradeco</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>água</string>
		<key>shortcut</key>
		<string>agua</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>aí</string>
		<key>shortcut</key>
		<string>ai</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>alguém</string>
		<key>shortcut</key>
		<string>alguem</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Aliexpress</string>
		<key>shortcut</key>
		<string>aliexpress</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>alteração</string>
		<key>shortcut</key>
		<string>alteracao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>alterações</string>
		<key>shortcut</key>
		<string>alteracoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>amanhã</string>
		<key>shortcut</key>
		<string>amanha</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>américa</string>
		<key>shortcut</key>
		<string>america</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ampliação</string>
		<key>shortcut</key>
		<string>amplicao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ângulo</string>
		<key>shortcut</key>
		<string>angulo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>aniversário</string>
		<key>shortcut</key>
		<string>aniversario</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>antifraude</string>
		<key>shortcut</key>
		<string>anti-fraude</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>antivírus</string>
		<key>shortcut</key>
		<string>antivirus</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>aptidão</string>
		<key>shortcut</key>
		<string>apitidao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>aptidão</string>
		<key>shortcut</key>
		<string>apitidão</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>aplicáveis</string>
		<key>shortcut</key>
		<string>aplicaveis</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>aplicável</string>
		<key>shortcut</key>
		<string>aplicavel</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>após</string>
		<key>shortcut</key>
		<string>apos</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>aprovação</string>
		<key>shortcut</key>
		<string>aprovacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>aprovações</string>
		<key>shortcut</key>
		<string>aprovacoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>aquisição</string>
		<key>shortcut</key>
		<string>aquisicao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>áreas</string>
		<key>shortcut</key>
		<string>areas</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>assembléia</string>
		<key>shortcut</key>
		<string>assembleia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>atalhos</string>
		<key>shortcut</key>
		<string>atalahos</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>até</string>
		<key>shortcut</key>
		<string>ate</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>atenção</string>
		<key>shortcut</key>
		<string>atencao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>atrás</string>
		<key>shortcut</key>
		<string>atras</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>através</string>
		<key>shortcut</key>
		<string>atraves</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>atualização</string>
		<key>shortcut</key>
		<string>atualizacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>atualizações</string>
		<key>shortcut</key>
		<string>atualizacoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>avaliado</string>
		<key>shortcut</key>
		<string>avalido</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>benefícios</string>
		<key>shortcut</key>
		<string>beneficios</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>bilhões</string>
		<key>shortcut</key>
		<string>bilhoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>birô</string>
		<key>shortcut</key>
		<string>biro</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>birôs</string>
		<key>shortcut</key>
		<string>biros</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>blz</string>
		<key>shortcut</key>
		<string>blz</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>botão</string>
		<key>shortcut</key>
		<string>botao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>botões</string>
		<key>shortcut</key>
		<string>botoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cabíveis</string>
		<key>shortcut</key>
		<string>cabiveis</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>café</string>
		<key>shortcut</key>
		<string>cafe</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cafés</string>
		<key>shortcut</key>
		<string>cafes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>câmbio</string>
		<key>shortcut</key>
		<string>cambio</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>característica</string>
		<key>shortcut</key>
		<string>caracteristica</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>características</string>
		<key>shortcut</key>
		<string>caracteristicas</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>carência</string>
		<key>shortcut</key>
		<string>carencia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>catálogo</string>
		<key>shortcut</key>
		<string>catalago</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>catálogo</string>
		<key>shortcut</key>
		<string>catalogo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>célula</string>
		<key>shortcut</key>
		<string>celula</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>certificação</string>
		<key>shortcut</key>
		<string>certifcao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>certificação</string>
		<key>shortcut</key>
		<string>certificacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>coincidência</string>
		<key>shortcut</key>
		<string>coincidencia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>combustível</string>
		<key>shortcut</key>
		<string>combustivel</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>começa</string>
		<key>shortcut</key>
		<string>comeca</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>começando</string>
		<key>shortcut</key>
		<string>comecando</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>começar</string>
		<key>shortcut</key>
		<string>comecar</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>começaram</string>
		<key>shortcut</key>
		<string>comecaram</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>começando</string>
		<key>shortcut</key>
		<string>comencando</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>comentário</string>
		<key>shortcut</key>
		<string>comentario</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>compreensão</string>
		<key>shortcut</key>
		<string>compreensao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>compreensível</string>
		<key>shortcut</key>
		<string>compreensivel</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>comunicação</string>
		<key>shortcut</key>
		<string>comunicao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>condição</string>
		<key>shortcut</key>
		<string>condicao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>condições</string>
		<key>shortcut</key>
		<string>condicoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>condomínio</string>
		<key>shortcut</key>
		<string>condominio</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>configuração</string>
		<key>shortcut</key>
		<string>configuracao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>configurações</string>
		<key>shortcut</key>
		<string>configuracoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>conheço</string>
		<key>shortcut</key>
		<string>conheco</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>conjugação</string>
		<key>shortcut</key>
		<string>conjugacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cônjuge</string>
		<key>shortcut</key>
		<string>conjuge</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>consegue</string>
		<key>shortcut</key>
		<string>consegu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>considerável</string>
		<key>shortcut</key>
		<string>consideravel</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>conteúdo</string>
		<key>shortcut</key>
		<string>conteudo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>contratação</string>
		<key>shortcut</key>
		<string>contratacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>convenção</string>
		<key>shortcut</key>
		<string>convencao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>criança</string>
		<key>shortcut</key>
		<string>crianca</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>crianças</string>
		<key>shortcut</key>
		<string>criancas</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>crítica</string>
		<key>shortcut</key>
		<string>critica</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>crítico</string>
		<key>shortcut</key>
		<string>critico</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>curto</string>
		<key>shortcut</key>
		<string>curot</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>customização</string>
		<key>shortcut</key>
		<string>customizacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dahora</string>
		<key>shortcut</key>
		<string>dahora</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>decibéis</string>
		<key>shortcut</key>
		<string>decibeis</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>decibelímetro</string>
		<key>shortcut</key>
		<string>decibelimetro</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dedão</string>
		<key>shortcut</key>
		<string>dedao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>definição</string>
		<key>shortcut</key>
		<string>definicao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>definições</string>
		<key>shortcut</key>
		<string>definicoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>deceibéis</string>
		<key>shortcut</key>
		<string>deicbeis</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>descrição</string>
		<key>shortcut</key>
		<string>descricao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>descrições</string>
		<key>shortcut</key>
		<string>descricoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>desculpe</string>
		<key>shortcut</key>
		<string>descuple</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>desgaste</string>
		<key>shortcut</key>
		<string>desgate</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>diagnóstico</string>
		<key>shortcut</key>
		<string>diagnostico</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dicionário</string>
		<key>shortcut</key>
		<string>dicionario</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>diferença</string>
		<key>shortcut</key>
		<string>diferenca</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>diferenças</string>
		<key>shortcut</key>
		<string>diferencas</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>difíceis</string>
		<key>shortcut</key>
		<string>dificeis</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>difíceis</string>
		<key>shortcut</key>
		<string>dificieis</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>difícil</string>
		<key>shortcut</key>
		<string>dificil</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>digitação</string>
		<key>shortcut</key>
		<string>digitacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>discussão</string>
		<key>shortcut</key>
		<string>discussao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>disponibilização</string>
		<key>shortcut</key>
		<string>disponibilizacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>disponibilizará</string>
		<key>shortcut</key>
		<string>disponibilizara</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>disponíveis</string>
		<key>shortcut</key>
		<string>disponiveis</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>distinção</string>
		<key>shortcut</key>
		<string>distincao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>documentação</string>
		<key>shortcut</key>
		<string>documentacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>documentações</string>
		<key>shortcut</key>
		<string>documentacoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dramática</string>
		<key>shortcut</key>
		<string>dramatica</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dramático</string>
		<key>shortcut</key>
		<string>dramatico</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dúvida</string>
		<key>shortcut</key>
		<string>duvida</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dúvidas</string>
		<key>shortcut</key>
		<string>duvidas</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Eai</string>
		<key>shortcut</key>
		<string>Eai</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>é</string>
		<key>shortcut</key>
		<string>eh</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>elétrica</string>
		<key>shortcut</key>
		<string>eletrica</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>eletrônica</string>
		<key>shortcut</key>
		<string>eletronica</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>endereço</string>
		<key>shortcut</key>
		<string>endereco</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>engraçada</string>
		<key>shortcut</key>
		<string>engracada</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>então</string>
		<key>shortcut</key>
		<string>entao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>enviará</string>
		<key>shortcut</key>
		<string>enviara</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>época</string>
		<key>shortcut</key>
		<string>epoca</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>escritório</string>
		<key>shortcut</key>
		<string>escritorio</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>estou</string>
		<key>shortcut</key>
		<string>esotu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>estou</string>
		<key>shortcut</key>
		<string>esou</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>espaço</string>
		<key>shortcut</key>
		<string>espaco</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>específica</string>
		<key>shortcut</key>
		<string>especifica</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>específicas</string>
		<key>shortcut</key>
		<string>especificas</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>específico</string>
		<key>shortcut</key>
		<string>especifico</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>está</string>
		<key>shortcut</key>
		<string>esta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>estão</string>
		<key>shortcut</key>
		<string>estao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>estaríamos</string>
		<key>shortcut</key>
		<string>estariamos</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>extensão</string>
		<key>shortcut</key>
		<string>estensao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>estratégia</string>
		<key>shortcut</key>
		<string>estrategia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>equipe</string>
		<key>shortcut</key>
		<string>euiqpe</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>equipes</string>
		<key>shortcut</key>
		<string>euiqpes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>exceção</string>
		<key>shortcut</key>
		<string>excecao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>exceção</string>
		<key>shortcut</key>
		<string>excessao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>expansão</string>
		<key>shortcut</key>
		<string>expansao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>experiência</string>
		<key>shortcut</key>
		<string>experiencia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>exposição</string>
		<key>shortcut</key>
		<string>exposicao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>expressão</string>
		<key>shortcut</key>
		<string>expressao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>expressões</string>
		<key>shortcut</key>
		<string>expressoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>estendido</string>
		<key>shortcut</key>
		<string>extendido</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>extensão</string>
		<key>shortcut</key>
		<string>extensao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>fácil</string>
		<key>shortcut</key>
		<string>facil</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>faço</string>
		<key>shortcut</key>
		<string>faco</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>falei</string>
		<key>shortcut</key>
		<string>falie</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>família</string>
		<key>shortcut</key>
		<string>familia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>férias</string>
		<key>shortcut</key>
		<string>ferias</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>física</string>
		<key>shortcut</key>
		<string>fisica</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>físicas</string>
		<key>shortcut</key>
		<string>fisicas</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>formulário</string>
		<key>shortcut</key>
		<string>formulario</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>frequência</string>
		<key>shortcut</key>
		<string>frequencia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>frequências</string>
		<key>shortcut</key>
		<string>frequencias</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>função</string>
		<key>shortcut</key>
		<string>funca</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>funcionário</string>
		<key>shortcut</key>
		<string>funcionario</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>funções</string>
		<key>shortcut</key>
		<string>funcoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ganharíamos</string>
		<key>shortcut</key>
		<string>ganhariamos</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>gestão</string>
		<key>shortcut</key>
		<string>gestao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>graça</string>
		<key>shortcut</key>
		<string>graca</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>graduação</string>
		<key>shortcut</key>
		<string>graduacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>gravação</string>
		<key>shortcut</key>
		<string>gravacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>hábil</string>
		<key>shortcut</key>
		<string>habil</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>hábito</string>
		<key>shortcut</key>
		<string>habito</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>hábitos</string>
		<key>shortcut</key>
		<string>habitos</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>apto</string>
		<key>shortcut</key>
		<string>hapito</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>aptos</string>
		<key>shortcut</key>
		<string>hapitos</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>história</string>
		<key>shortcut</key>
		<string>historia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>histórico</string>
		<key>shortcut</key>
		<string>historico</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>horário</string>
		<key>shortcut</key>
		<string>horario</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ícone</string>
		<key>shortcut</key>
		<string>icone</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>idéia</string>
		<key>shortcut</key>
		<string>ideia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>imperdível</string>
		<key>shortcut</key>
		<string>imperdivel</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>importância</string>
		<key>shortcut</key>
		<string>importancia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>inacreditável</string>
		<key>shortcut</key>
		<string>inacreditavel</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>inadimplência</string>
		<key>shortcut</key>
		<string>inadimplencia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>incompreensível</string>
		<key>shortcut</key>
		<string>incompreensivel</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>infância</string>
		<key>shortcut</key>
		<string>infancia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>informação</string>
		<key>shortcut</key>
		<string>informacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>informações</string>
		<key>shortcut</key>
		<string>informacoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>início</string>
		<key>shortcut</key>
		<string>inicio</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>instalação</string>
		<key>shortcut</key>
		<string>instalacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>integração</string>
		<key>shortcut</key>
		<string>integracao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>integrações</string>
		<key>shortcut</key>
		<string>integracoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>íntegro</string>
		<key>shortcut</key>
		<string>integro</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>interrogação</string>
		<key>shortcut</key>
		<string>interrogacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>inútil</string>
		<key>shortcut</key>
		<string>inutil</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>invés</string>
		<key>shortcut</key>
		<string>inves</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>irá</string>
		<key>shortcut</key>
		<string>ira</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>já</string>
		<key>shortcut</key>
		<string>ja</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>joão</string>
		<key>shortcut</key>
		<string>joao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>lá</string>
		<key>shortcut</key>
		<string>la</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>lâmpada</string>
		<key>shortcut</key>
		<string>lampada</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>lâmpadas</string>
		<key>shortcut</key>
		<string>lampadas</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>lançamento</string>
		<key>shortcut</key>
		<string>lancamento</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>lançamentos</string>
		<key>shortcut</key>
		<string>lancamentos</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>leilão</string>
		<key>shortcut</key>
		<string>leilao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>licença</string>
		<key>shortcut</key>
		<string>licenca</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>licenças</string>
		<key>shortcut</key>
		<string>licencas</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>licitação</string>
		<key>shortcut</key>
		<string>licitacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>língua</string>
		<key>shortcut</key>
		<string>lingua</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mãe</string>
		<key>shortcut</key>
		<string>mae</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>manhã</string>
		<key>shortcut</key>
		<string>manha</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mão</string>
		<key>shortcut</key>
		<string>mao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>máquina</string>
		<key>shortcut</key>
		<string>maquina</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mais</string>
		<key>shortcut</key>
		<string>masi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>matérias</string>
		<key>shortcut</key>
		<string>materias</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>máximo</string>
		<key>shortcut</key>
		<string>maximo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mecânico</string>
		<key>shortcut</key>
		<string>mecanico</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>médica</string>
		<key>shortcut</key>
		<string>medica</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>médico</string>
		<key>shortcut</key>
		<string>medico</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mês</string>
		<key>shortcut</key>
		<string>mes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>metódico</string>
		<key>shortcut</key>
		<string>metodico</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>método</string>
		<key>shortcut</key>
		<string>metodo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>métodos</string>
		<key>shortcut</key>
		<string>metodos</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>milhões</string>
		<key>shortcut</key>
		<string>milhoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mínimo</string>
		<key>shortcut</key>
		<string>minimo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>minúsculo</string>
		<key>shortcut</key>
		<string>minusculo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mó</string>
		<key>shortcut</key>
		<string>mo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>modificação</string>
		<key>shortcut</key>
		<string>modificacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>modificações</string>
		<key>shortcut</key>
		<string>modificacoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>módulos</string>
		<key>shortcut</key>
		<string>modulos</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mto</string>
		<key>shortcut</key>
		<string>mto</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mudança</string>
		<key>shortcut</key>
		<string>mudanca</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>multímetro</string>
		<key>shortcut</key>
		<string>multimetro</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>música</string>
		<key>shortcut</key>
		<string>musica</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>músicas</string>
		<key>shortcut</key>
		<string>musicas</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>não</string>
		<key>shortcut</key>
		<string>nao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>né</string>
		<key>shortcut</key>
		<string>ne</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>necessária</string>
		<key>shortcut</key>
		<string>necessaria</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>necessárias</string>
		<key>shortcut</key>
		<string>necessarias</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>necessário</string>
		<key>shortcut</key>
		<string>necessario</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>negócio</string>
		<key>shortcut</key>
		<string>negocio</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>negócio</string>
		<key>shortcut</key>
		<string>neogcio</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ninguém</string>
		<key>shortcut</key>
		<string>ninguem</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>noção</string>
		<key>shortcut</key>
		<string>nocao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>nós</string>
		<key>shortcut</key>
		<string>nos</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>observação</string>
		<key>shortcut</key>
		<string>observacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>observações</string>
		<key>shortcut</key>
		<string>observacoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>obstáculos</string>
		<key>shortcut</key>
		<string>obstaculos</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>obtenção</string>
		<key>shortcut</key>
		<string>obtencao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>olá</string>
		<key>shortcut</key>
		<string>ola</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>On-Premises</string>
		<key>shortcut</key>
		<string>on-premises</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>On-Premises</string>
		<key>shortcut</key>
		<string>on-primeses</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>On-Premises</string>
		<key>shortcut</key>
		<string>onpremises</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>On-Premises</string>
		<key>shortcut</key>
		<string>onprimeses</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pode</string>
		<key>shortcut</key>
		<string>opde</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>opinião</string>
		<key>shortcut</key>
		<string>opiniao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>opinião</string>
		<key>shortcut</key>
		<string>opniao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>oq</string>
		<key>shortcut</key>
		<string>oq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>orgão</string>
		<key>shortcut</key>
		<string>orgao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>orientação</string>
		<key>shortcut</key>
		<string>orientacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>oscilação</string>
		<key>shortcut</key>
		<string>oscilacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ótimo</string>
		<key>shortcut</key>
		<string>otimo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>paciência</string>
		<key>shortcut</key>
		<string>paciencia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>painéis</string>
		<key>shortcut</key>
		<string>paineis</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>parabéns</string>
		<key>shortcut</key>
		<string>parabens</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>patrimônio</string>
		<key>shortcut</key>
		<string>patrimonio</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pé</string>
		<key>shortcut</key>
		<string>pe</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>peça</string>
		<key>shortcut</key>
		<string>peca</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>peças</string>
		<key>shortcut</key>
		<string>pecas</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pedágio</string>
		<key>shortcut</key>
		<string>pedagio</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>periódico</string>
		<key>shortcut</key>
		<string>periodico</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>periódicos</string>
		<key>shortcut</key>
		<string>periodicos</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>período</string>
		<key>shortcut</key>
		<string>periodo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pior</string>
		<key>shortcut</key>
		<string>piro</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>plantão</string>
		<key>shortcut</key>
		<string>plantao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pouco</string>
		<key>shortcut</key>
		<string>pocuo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>poderá</string>
		<key>shortcut</key>
		<string>podera</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>poderíamos</string>
		<key>shortcut</key>
		<string>poderiamos</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>políticas</string>
		<key>shortcut</key>
		<string>politicas</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>porém</string>
		<key>shortcut</key>
		<string>porem</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>português</string>
		<key>shortcut</key>
		<string>portugues</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>posição</string>
		<key>shortcut</key>
		<string>posicao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>possível</string>
		<key>shortcut</key>
		<string>possivel</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pq</string>
		<key>shortcut</key>
		<string>pq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>prática</string>
		<key>shortcut</key>
		<string>pratica</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>práticas</string>
		<key>shortcut</key>
		<string>praticas</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>prático</string>
		<key>shortcut</key>
		<string>pratico</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>precisão</string>
		<key>shortcut</key>
		<string>precisao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>precisaríamos</string>
		<key>shortcut</key>
		<string>precisariamos</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>preço</string>
		<key>shortcut</key>
		<string>preco</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>preços</string>
		<key>shortcut</key>
		<string>precos</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>prédio</string>
		<key>shortcut</key>
		<string>predio</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>preferência</string>
		<key>shortcut</key>
		<string>preferencia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>preferências</string>
		<key>shortcut</key>
		<string>preferencias</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>preguiça</string>
		<key>shortcut</key>
		<string>preguica</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>preguiçoso</string>
		<key>shortcut</key>
		<string>preguicoso</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pré-requesito</string>
		<key>shortcut</key>
		<string>prerequisito</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pré-requisitos</string>
		<key>shortcut</key>
		<string>prerequisitos</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>previsão</string>
		<key>shortcut</key>
		<string>previsao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>produção</string>
		<key>shortcut</key>
		<string>producao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>profissão</string>
		<key>shortcut</key>
		<string>profissao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>projeção</string>
		<key>shortcut</key>
		<string>projecao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>projeções</string>
		<key>shortcut</key>
		<string>projecoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>promoção</string>
		<key>shortcut</key>
		<string>promocao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>promoções</string>
		<key>shortcut</key>
		<string>promocoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>própria</string>
		<key>shortcut</key>
		<string>propria</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>próprias</string>
		<key>shortcut</key>
		<string>proprias</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>próprio</string>
		<key>shortcut</key>
		<string>proprio</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>proteção</string>
		<key>shortcut</key>
		<string>protecao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>provável</string>
		<key>shortcut</key>
		<string>provavel</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>providência</string>
		<key>shortcut</key>
		<string>providencia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>providências</string>
		<key>shortcut</key>
		<string>providencias</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>provisório</string>
		<key>shortcut</key>
		<string>provisorio</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>provocação</string>
		<key>shortcut</key>
		<string>provocacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>próxima</string>
		<key>shortcut</key>
		<string>proxima</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>próximo</string>
		<key>shortcut</key>
		<string>proximo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>próximos</string>
		<key>shortcut</key>
		<string>proximos</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>qnd</string>
		<key>shortcut</key>
		<string>qnd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>questionário</string>
		<key>shortcut</key>
		<string>quesitonario</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>questão</string>
		<key>shortcut</key>
		<string>questao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>questionário</string>
		<key>shortcut</key>
		<string>questionario</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>questões</string>
		<key>shortcut</key>
		<string>questoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>que</string>
		<key>shortcut</key>
		<string>quie</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>rádio</string>
		<key>shortcut</key>
		<string>radio</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>rápida</string>
		<key>shortcut</key>
		<string>rapida</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>rápido</string>
		<key>shortcut</key>
		<string>rapido</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>referência</string>
		<key>shortcut</key>
		<string>referencia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>região</string>
		<key>shortcut</key>
		<string>regiao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>reais</string>
		<key>shortcut</key>
		<string>reias</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>relatório</string>
		<key>shortcut</key>
		<string>relatorio</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>reposição</string>
		<key>shortcut</key>
		<string>reposicao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>república</string>
		<key>shortcut</key>
		<string>republica</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>respeitável</string>
		<key>shortcut</key>
		<string>respeitavel</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>responsáveis</string>
		<key>shortcut</key>
		<string>responsaveis</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>responsável</string>
		<key>shortcut</key>
		<string>responsavel</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>reunião</string>
		<key>shortcut</key>
		<string>reuniao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>rolê</string>
		<key>shortcut</key>
		<string>role</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>sábado</string>
		<key>shortcut</key>
		<string>sabado</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>salário</string>
		<key>shortcut</key>
		<string>salario</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>saliência</string>
		<key>shortcut</key>
		<string>saliencia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>são</string>
		<key>shortcut</key>
		<string>sao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>saúde</string>
		<key>shortcut</key>
		<string>saude</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>segurança</string>
		<key>shortcut</key>
		<string>seguranca</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>sensação</string>
		<key>shortcut</key>
		<string>sensacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>será</string>
		<key>shortcut</key>
		<string>sera</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>serão</string>
		<key>shortcut</key>
		<string>serao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>sério</string>
		<key>shortcut</key>
		<string>serio</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>serviço</string>
		<key>shortcut</key>
		<string>servico</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>síndico</string>
		<key>shortcut</key>
		<string>sindico</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>sinônimo</string>
		<key>shortcut</key>
		<string>sinonimo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>sistemático</string>
		<key>shortcut</key>
		<string>sistematico</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>situação</string>
		<key>shortcut</key>
		<string>sitaucao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>situação</string>
		<key>shortcut</key>
		<string>situacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>situações</string>
		<key>shortcut</key>
		<string>situacoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>só</string>
		<key>shortcut</key>
		<string>so</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>sobrepõem</string>
		<key>shortcut</key>
		<string>sobrepoem</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>sóbrio</string>
		<key>shortcut</key>
		<string>sobrio</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>sofrência</string>
		<key>shortcut</key>
		<string>sofrencia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>solução</string>
		<key>shortcut</key>
		<string>solucao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>substituição</string>
		<key>shortcut</key>
		<string>substituicao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>também</string>
		<key>shortcut</key>
		<string>tambem</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tão</string>
		<key>shortcut</key>
		<string>tao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tbm</string>
		<key>shortcut</key>
		<string>tbm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>td</string>
		<key>shortcut</key>
		<string>td</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>técnica</string>
		<key>shortcut</key>
		<string>tecnica</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>técnicas</string>
		<key>shortcut</key>
		<string>tecnicas</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>técnico</string>
		<key>shortcut</key>
		<string>tecnico</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tensão</string>
		<key>shortcut</key>
		<string>tensao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>thanks</string>
		<key>shortcut</key>
		<string>thnaks</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tínhamos</string>
		<key>shortcut</key>
		<string>tinhamos</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>típica</string>
		<key>shortcut</key>
		<string>tipica</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tô</string>
		<key>shortcut</key>
		<string>to</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tópicos</string>
		<key>shortcut</key>
		<string>topicos</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>transação</string>
		<key>shortcut</key>
		<string>transacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>transações</string>
		<key>shortcut</key>
		<string>transacoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>transformação</string>
		<key>shortcut</key>
		<string>transformacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>transformações</string>
		<key>shortcut</key>
		<string>transformacoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>transição</string>
		<key>shortcut</key>
		<string>transicao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>três</string>
		<key>shortcut</key>
		<string>tres</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ué</string>
		<key>shortcut</key>
		<string>ue</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>único</string>
		<key>shortcut</key>
		<string>unico</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>usuário</string>
		<key>shortcut</key>
		<string>usuario</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>úteis</string>
		<key>shortcut</key>
		<string>uteis</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>útil</string>
		<key>shortcut</key>
		<string>util</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>utilização</string>
		<key>shortcut</key>
		<string>utilizacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>utilizáveis</string>
		<key>shortcut</key>
		<string>utilizaveis</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>utilizável</string>
		<key>shortcut</key>
		<string>utilizavel</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>válida</string>
		<key>shortcut</key>
		<string>valida</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>válido</string>
		<key>shortcut</key>
		<string>valido</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>vão</string>
		<key>shortcut</key>
		<string>vao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>variação</string>
		<key>shortcut</key>
		<string>variacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>variações</string>
		<key>shortcut</key>
		<string>variacoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>várias</string>
		<key>shortcut</key>
		<string>varias</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>vários</string>
		<key>shortcut</key>
		<string>varios</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>vc</string>
		<key>shortcut</key>
		<string>vc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>versão</string>
		<key>shortcut</key>
		<string>versao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>versões</string>
		<key>shortcut</key>
		<string>versoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>vídeo</string>
		<key>shortcut</key>
		<string>video</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>vidinha</string>
		<key>shortcut</key>
		<string>vidinha</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>vixe</string>
		<key>shortcut</key>
		<string>vixi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>você</string>
		<key>shortcut</key>
		<string>voce</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>vocês</string>
		<key>shortcut</key>
		<string>voces</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>votação</string>
		<key>shortcut</key>
		<string>votacao</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>votações</string>
		<key>shortcut</key>
		<string>votacoes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>genérico</string>
		<key>shortcut</key>
		<string>generico</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>universitário</string>
		<key>shortcut</key>
		<string>universitario</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>agência</string>
		<key>shortcut</key>
		<string>agencia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>agência</string>
		<key>shortcut</key>
		<string>agencia</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Touché</string>
		<key>shortcut</key>
		<string>Touche</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>põem</string>
		<key>shortcut</key>
		<string>poem</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>põe</string>
		<key>shortcut</key>
		<string>poe</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tá</string>
		<key>shortcut</key>
		<string>ta</string>
	</dict>
</array>
</plist>
